<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add item</title>
    <style>
        span{
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>

<div th:fragment="adminNav"></div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <label class="navbar-brand" href="/">Clothing store</label>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
                       <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Dropdown-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </div>
    </nav>
</div>

<div class="container">
    <h1 align="center">Add new item</h1>
    <form action="/admin/saveItem" method="post" id="main-form" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <span id="error-name-of-item-span"></span>
            <input type="text" id="name-of-item" class="form-control" name="name" placeholder="Name">

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Category">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label><br>
            <span style="display: grid" id="error-price-span"></span>
            <input type="text" class="form-control" id="price" name="price" placeholder="Price">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Photo</label>
            <input type="file" id="file" name="file" min="1" max="9999" placeholder="file">
        </div>
        <button type="button" onclick="validate()" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function checkLengthFromMinToMax(string, min, max)
    {
        return string.length >= min && string.length <= max;
    }
    function validate(){
        if (checkNameOfItem() && checkPrice()){
            document.getElementById('main-form').submit();
        }else{
            alert("check data")
        }
    }
    function checkNameOfItem(){
        let item = document.getElementById('name-of-item').value;
        if (!checkLengthFromMinToMax(item, 5, 255)){
            document.getElementById('error-name-of-item-span').innerText = "Name of item should be from 5 to 255 symbols!";
            console.log('bad name len');
            return false;
        }else{
            return true;
        }
    }
    function checkPrice(){
        let price = Number(document.getElementById('price').value);
        if (price > 0 && price <= 20000){
            return true;
        }else{
            document.getElementById('error-price-span').innerText = "Price should be more than 0 and less than 20000!";
            console.log('bad price');
            return false;
        }
    }
</script>

</body>
</html>