<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${item.name}"></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

</head>
<body>

<div th:include="~{index.html :: navbar}"></div>

<div class="container col-md-3">
    <div class="offset-md-1">
        <div class="col-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="${item.pathToFile}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" th:text="${item.name}"></h4>
                    <h5 class="card-title" th:text="${item.description}"></h5>
                    <p class="card-text" th:text="${item.price} + '$'"></p>
                    <div sec:authorize="hasRole('USER')">
                        <a th:href="'/order?item=' + ${item.id}" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>