<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users orders</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>

<div th:include="~{index.html :: navbar}"></div>

<div class="container">
    <h1 align="center">Your orders</h1>
    <div th:if="${!items.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Link to the item</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <a th:href="'/product/' + ${item.id}" class="btn btn-primary">Link</a>
                </td>
                <td th:text="${item.item.name}"></td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.item.price}"></td>
            </tr>

            </tbody>
        </table>

    </div>

</div>

</body>
</html>